pkgbase = warmshower-wallpapers
	pkgdesc = Wallpapers for WarmShower OS
	pkgver = r10.fb98756
	pkgrel = 1
	url = https://github.com/Rawknee-69/warmshower-wallpapers
	arch = any
	license = GPL-1.0-only
	makedepends = git
	source = git+https://github.com/Rawknee-69/warmshower-wallpapers.git
	sha512sums = SKIP

pkgname = warmshower-wallpapers
